<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <title>MadLibs</title>
  </head>
  <body>
    <h2>MadLibs</h2>
    <form  action="/ShowStory" method="post">
      <label for="noun">input a Noun</label>
      <input id="noun" type="text" name="noun">
      <label for="verb">input a verb</label>
      <input id="verb" type="text" name="verb">
      <label for="adjective">input a adjective</label>
      <input id="adjective" type="text" name="adjective">
    <button type="submit">See Story!</button>
  </form>
  </body>
</html>
