<!DOCTYPE html>
<html>
  <head>
    <href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <title>ShowStory</title>
  </head>
  <body>
    <h2>Here is your story!</h2>
    <p> The cat walked on top of the @Model.GetNoun()</p>
    <br>
    <p>and then it @Model.GetVerb()</p>
    <br>
    <p>so it looked really @Model.GetAdjective()</p>
  </body>
</html>
